<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="socketChannelConfigParse" class="net.zhaoxiaobin.socket.config.SocketChannelConfigParse">
        <property name="configurations">
            <list>
                <value>classpath:socketchannel/*.xml</value>
            </list>
        </property>
    </bean>

    <bean id="socketExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="20"/>
        <property name="maxPoolSize" value="50"/>
        <property name="queueCapacity" value="200"/>
        <property name="keepAliveSeconds" value="60"/>
        <property name="threadNamePrefix" value="socket-"/>
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>
        <property name="awaitTerminationSeconds" value="300"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor.AbortPolicy"></bean>
        </property>
    </bean>

</beans>
