<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <style>
        body {
            font-family: SimSun
        }
    </style>
    <title>html模板</title>
</head>
<body>
<div>
    <p style="margin:0pt; orphans:0; text-align:center; widows:0">
        <span style="font-family:SimSun; font-size:16pt">html模板</span><br/>
    </p>
    <p>姓名：${name}</p>
    <p>证件号码：${cardNo}</p>
    <p>日期：${date}</p>
</div>
</body>
</html>