<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- ORM映射以驼峰规则转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 输出sql相关日志 -->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>

    <!-- 包内所有实体类类名首字母小写 -->
    <typeAliases>
      <package name="com.zxb.task.domain"/>
    </typeAliases>
    
</configuration>
