<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zhaoxiaobin.task.dao.SpringScheduleCronDao">
    <sql id="select">
        select
            id,
            bean_name,
            cron_expression,
            task_desc,
            enable,
            app_id
        from spring_schedule_cron
        where app_id = #{appId}
    </sql>

    <select id="findByAppId" parameterType="String" resultType="SpringScheduleCron">
        <include refid="select"/>
    </select>

    <select id="findByBeanName" resultType="SpringScheduleCron">
        <include refid="select"/>
        and bean_name = #{beanName}
    </select>

    <update id="updateByBeanName">
        update spring_schedule_cron
        set cron_expression = #{newCron,jdbcType=VARCHAR}
        where app_id = #{appId}
        and bean_name = #{beanName}
    </update>

    <update id="changeEnable">
        update spring_schedule_cron
        set enable = #{enable,jdbcType=NUMERIC}
        where app_id = #{appId}
        and bean_name = #{beanName}
    </update>
</mapper>